<h1><center><%= @post.title%></center></h1>
<p>Posted <%= time_ago_in_words(@post.created_at) %> ago ~ <%= @post.created_at.strftime("%B %d, %Y") %></p>
<hr>
<p><%= @post.body %></p>

<%= link_to "Edit", edit_post_path(@post) %>

<%= link_to "Burn it with fire!", post_path(@post), :method => :delete %>


